/* Start Lets talk */
#LetsTalk {
  padding: 5pt 40pt 50pt 40pt ;
  /* margin-top: -75pt; */
  background: #2B265A;
}
#EmailCapture1 {
  margin-left: auto;
  margin-right: auto;
  padding: 0pt;
  height: auto;
  max-width: 250pt;
  /* position: relative;
  bottom: 125pt; */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#EmailCaptureTitle{
  text-align: center;
  margin: 20pt 0 0 0;
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
}

#EmailForm {
  padding: 20pt;
}

#EmailButton {
/*    float: right;*/
/*    height: 40pt;*/
  width: 100%;
  padding: pt;
  margin: 1pt;
/*    border-radius: 40pt;*/
  background-color: #3c0c78;
  border-color: #290755;
  transition: 0.3;
}

#EmailButton:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3 8px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #2b0758;
}

.input-group {
  margin-top: 8pt;
}
#ActiveCampaign {
  width: 100%;
  height: 375px;
  border: none;
}

#LetsTalkInfo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
/* End Lets Talk */

/* Other */

p {
  text-align: justify;
}
#TitleRectangle {
  font-size: 18pt;
  text-align: justify;
  float: left;
  color: #511C64;
}
#ImgTitle {
  text-align: center;
  padding-top: 10px;
}
.smartImg {
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#TitleBlack {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  font-weight: 700;
}
#BodyBlack {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
#TitleWhite {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  font-weight: 700;
  color: white;
}
#BodyWhite {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.heroTextContainer {
  padding: 30pt 10pt;
}
#LightToDarkSvg {
  fill: white;
}
#DarkToLightSvg {
  fill: #2B265A;

}
/* End Other */