/* ---------- Common  ---------- */
body {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

/* The progress container (grey background) */
.progress-container {
    width: 100vw;
    position: relative;
    left: -10pt;
    top: 10pt;
    height: 0px;
    z-index: 5;
    position: fixed;
    top: 80pt;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 1.5pt;
    background: #911eb4;
    z-index: 5;
    position: fixed;
    top: 80pt;
    width: 0%;
}

.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block; 
  }
a:hover {
text-decoration: none;
}

.underlineLink:after {
display: block;
content: '';
border-bottom: solid 1px;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: -webkit-transform 250ms ease-in-out;
transition: -webkit-transform 250ms ease-in-out;
transition: transform 250ms ease-in-out;
transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
-webkit-transform-origin: 100% 50%;
transform-origin: 100% 50%;
}

.underlineLink:hover:after {
-webkit-transform: scaleX(1);
transform: scaleX(1);

-webkit-transform-origin: 0 50%;
transform-origin: 0 50%;
}
/* -------------------- */

/* ---------- Welcome Section  ---------- */
/* #WelcomeDiv {
    background-color: #160C21;
    height: 500px;
    position: relative;
}

#WelcomeDiv img {
    z-index: 1;
    position: absolute;
    left: 456px;
    height: 500px;
} 

#WelcomeContentDiv {
    z-index: 3;
    position: absolute;
    left: 120px;
    top: 150px;
    color: white;
    width: 400px;
}

@media screen and (max-width: 530px) {
    #WelcomeContentDiv {
        width: 90%;
        left: 5%;
        top: 140px;
    }
}

#WelcomeFadeDiv {
    position: absolute;
    z-index: 2;
    left: 456px;
    background-image: linear-gradient(to left, transparent, rgba(44, 18, 43, 0.5) 70%, #160C21 95%);
    height: 500px;
    width: 674px;
}

#WelcomeDiv h1 {
    font-size: 26px;
} 

#WelcomeDiv button {
    margin-top: 30px;
    padding: 10px 35px;
    border-radius: 4px;
    border: none;
    transition-duration: 0.4s;
}

#WelcomeDiv button:hover {
    background-color: purple;
    color: white;
}
*/

/*RHYS' EDIT */
.heroTextContainer {
    padding: 30pt 10pt;
}

#HeaderContainer {
    width: 100%;
    min-height: 500pt;
    padding: 21pt 0;
    /* max-height: 100%; */
    background-image: linear-gradient(89.6deg, #160C21 53.22%, rgba(44, 18, 43, 0) 83.56%), url('assets/landingPageWelcome.png');
    background-size: cover;
    justify-content: center;
    align-items: center; 
}

#WelcomeText {
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#Subtitle {
    opacity: 0;
    color: whitesmoke;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    #WelcomeText , #Subtitle {
        text-align: center;
        max-width: 250pt;
        margin: auto;
    }
    .leftButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}

.leftButton {
    opacity: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
        
}
.welcomeBtn {
    background-color: white; 
    color: #2B265A; 
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.welcomeBtn:hover {
    background-color: #2B265A;
    color: white;
}

/*END RHYS' EDIT */

#icon1 {
    position: absolute;
    height: 50px;
    top: 40%;
    left: 10%;
    transform: rotate(20deg);
    opacity: 50%;
}

#icon2 {
    position: absolute;
    top: 40%;
    left: 80%;
    height: 50px;
    opacity: 50%;
}
#icon3 {
    position: absolute;
    height: 50px;
    top: 20%;
    left: 40%;
    opacity: 50%;
}

#icon4 {
    position: absolute;
    top: 60%;
    left: 70%;
    height: 50px;
    opacity: 50%;
}
#icon5 {
    position: absolute;
    height: 50px;
    top: 65%;
    left: 15%;
    opacity: 50%;
}




/*
#backVideo {
    z-index: -100;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-height: 500pt;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}
*/

/*Parallax for Welcome section*/
#WelcomeParallax {
    height: 100vh;
    color: white;
    overflow: hidden;
    /* https://stackoverflow.com/questions/14196865/css-absolute-positioning-and-overflow-hidden */
    position: relative;
}
.sky-layer0 {
    width: 100%;
    height: 70vh;
    position: absolute;
}

.field-layer1 {
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 55%;
}

.solar-layer2 {
    /* position: absolute; */
    width: 100%;
    height: 30vh;
    /* top: 78%; */
}

#ParallaxWhiteDiv {
    width: 100%;
    height: 300px;
    background-color: white;
}

#ParallaxSolarContainerDiv {
    position: absolute;
    width: 100%;
    /* height: 30vh; */
    top: 78%;
}

@media (max-width: 1500px) {
    .solar-layer2, .field-layer1, .sky-layer0 {
        min-width: 1500px;
    }
}
/*End Parallax for Welcome section*/

/*Email Capture 1*/

#FormIcon {
    display: block;
    padding: 20 30 0 50;
    margin: 0;
    text-align: center;
}

/*
.textAddon {
    border: 0pt !important;
    border-bottom: 1pt solid #939393 !important;
    border-radius:0 !important; 
}

.textAddon:hover {
    
}*/

/* End Email Capture*/

/*Featured In*/
.greyBackground {
    width: 100%;
    background-color: whitesmoke;
}

#FeaturedIn {
    padding: 40pt 40pt 20pt 40pt ;
    /* margin-top: -75pt; */
    background: whitesmoke;
    max-width: none;
}
#FeaturedInTitle {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
    font-weight: 500;
}

.brandLogos {
    max-height: 40pt;
    /* max-width: 100%; */
    display: block;
    margin: 15pt auto 15pt auto;
    filter: grayscale(100%) contrast(20%);
    transition: 0.3s;
    object-fit: cover;
}

.brandLogos:hover {
    filter: grayscale(0%) contrast(100%);
}

/* #FeaturedInContainer {
    background-color: whitesmoke;
} */

/*End Featured In*/

/* Founder Letter Section*/
#FounderLetter {
    padding: 0pt 90pt 90pt 90pt;
/*
    padding-top: 150pt;
    padding-bottom: 180pt;
*/
    margin: 40pt auto 50pt auto;
    max-width: 750pt;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 14pt;
    line-height: 20pt;
/*    position: relative;*/
}

#FounderTitle {
    text-align: center;
    margin: 60pt 0 0 0;
    font-family: 'Roboto', sans-serif;
}

#LetterLogo {
    height: 70pt;
    z-index: 10;
    position: relative;
    margin: 40pt -10pt 60pt 0;
}

/*
Adjust letter for smaller browser widths:
https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari
*/
@media only screen and (max-width: 768pt) {
    #FounderLetter {
        padding: 0pt 50pt 60pt 50pt;
    }
    #LetterLogo {
        margin: 20pt -10pt 40pt 0;
    }
}
@media only screen and (max-width: 576pt) {
    #FounderLetter {
        padding: 0pt 30pt 60pt 30pt;
    }
    #LetterLogo {
        margin: 3pt -10pt 15pt 0;
    }
}

#lukeSig, #robSig {
    font-weight: bold;
    text-align: center;
}

#letterTransitionSvg {
    background-color: whitesmoke;
}

#letterHead {
    width: 100%;
    text-align: center;
}

#svgHeader {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

#svgHeadBackground {
    position: absolute;
    left: 0;
    width: 99.5%;
    z-index: 1;
    clip-path: polygon(5% 5%, 16.41% 9.81%, 24.33% 6%, 21.62% 72.82%, 10.6% 79.33%, 4.61% 66.41%, 5% 36.75%);
    -webkit-clip-path: polygon(5% 5%, 16.41% 9.81%, 24.33% 6%, 21.62% 72.82%, 10.6% 79.33%, 4.61% 66.41%, 5% 36.75%);
}

#svgFooter {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

#svgFootBackground {
    position: absolute;
    left: 0;
    width: 99.5%;
    z-index: 1;
    clip-path: polygon(90% 1%, 96.34% 30.88%, 99.7% 75.32%, 95.14% 93.39%, 88.78% 62.49%);
    -webkit-clip-path: polygon(90% 1%, 96.34% 30.88%, 99.7% 75.32%, 95.14% 93.39%, 88.78% 62.49%);
}

.modalButton {
    display: block;
    margin: 50pt auto 50pt auto;
    padding: 10pt;
    color: white;
    background-color: #2B265A;
    border-color: #1d193c;
    transition: 0.3;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
}

.modalButton:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3 8px 12px 0 rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #4a3f98;
    border-color: #4a3f98;
}

/*End Founder Letter Section*/

/* Our Approch  Section*/
#OurApproach {
    background-color: #2B265A;
    padding: 50pt 0pt 50pt 0pt;
    
}

#OurApproachTitle{
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.ourApproachCard {
    padding: 10pt;
    max-width: 250pt;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.approachDescription{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    text-align: center;
}

#IoLogoForApproach {
    width: 400pt;
    max-width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ApproachTransitionSvg {
    background-color: #2b265a;
    width: 100vw;
    /* transform: rotateX(180deg); */

}
/* End Our Approch */

/* Start As seen in */

#featuredTransitionSvg {
    background-color: #2b265a;
    width: 100vw;
    margin-bottom: -1pt;
}

#SeenIn {
    background-color: whitesmoke;
    padding: 20pt 40pt 20pt 40pt;
}

#SeenInTitle {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
}

/* end As seen in */

/* Start Free Guide */

#guideTransitionSvg {
    background-color: white;
    transform: rotateX(180deg);
    margin-top: -1pt;
}

#FreeGuideTitle {
    text-align: center;
/*    padding: 0pt 90pt 0pt 90pt;*/
    margin: 40pt auto 0pt auto;
    font-family: 'Roboto condensed', sans-serif;
}

#FreeGuideContent {
/*    padding: 0pt 90pt 0pt 90pt;*/
    margin: 40pt auto 50pt auto;
    max-width: 750pt;
    font-size: 14pt;
    line-height: 20pt;

}

/*
@media only screen and (max-width: 576pt) {
    #freeGuide-content {
        padding: 0pt 10pt 0pt 10pt;
    }
    #freeGuide-title {
        padding: 0pt 0pt 0pt 0pt;
    }
}
*/

/* End Free Guide */

/* Start Free report */
#reportTransitionSvg {
    background-color: #2b265A;
    transform: rotateX(180deg) rotateY(180deg);
    margin-bottom: -1pt;
}

#FreeReport {
    background-color: #2B265A;
    padding: 50pt 0pt 50pt 0pt;
    
}

#FreeReportTitle{
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#FreeReportCard {
    padding: 50pt;
}

/* End Free report */
/* Start Personalised Energy Savings Assessment */
#learnTransitionSvg {
    background-color: #2b265A;
    margin-bottom: -1pt;
    transform: rotateY(180deg);
}

#SavingsAssessmentTitle {
    text-align: center;
/*    padding: 0pt 90pt 0pt 90pt;*/
    margin: 40pt auto 0pt auto;
    font-family: 'Roboto condensed', sans-serif;
}

#SavingsAssessmentContent{
/*    padding: 0pt 90pt 0pt 90pt;*/
    margin: 40pt auto 50pt auto;
    max-width: 750pt;
    font-size: 14pt;
    line-height: 20pt;

}
/* End Personalised Energy Savings Assessment */

/* --- Modal --- */

#ModalEmailIcon {
    display: block;
    padding: 20 10 0 20;
    margin: 0;
    text-align: center;
}

#ModalEmailCaptureTitle{
    text-align: center;
    margin: 20pt 0 0 0;
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}

#ModalEmailForm {
    padding: 20pt;
}

#ModalEmailButton {
    width: 100%;
    margin: 1pt;
    background-color: #3c0c78;
    border-color: #290755;
    transition: 0.3;
}

#ModalEmailButton:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3 8px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #2b0758;
}

/* #ActiveCampaign {
    width: 100%;
    height: 300px;
    border: none;
} */
/* ---- End Modal ----*/

/* End Modal */
/* ---------- Common ---------- */
p {
    text-align: justify;
}

input:focus {
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #453c92, 0 0 8px #4a4296;
}

html {
    overflow-x: hidden;
}
.titleUnderline {
    width: 30pt;
    height: 0pt;
    border-top: 3pt solid #FFA372;
}
/*Better Link Hover*/
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

#LetterTransitionSvg img, #ApproachTransitionSvg img,
 #FeaturedTransitionSvg img, #GuideTransitionSvg img,
  #ReportTransitionSvg img, #LearnTransitionSvg img, #FootTransitionSvg img {
      width: 101vw;
  }

/*---------------*/
/* End Common */

/*---------------*/
/* Why IO */

.purpleBackground {
    width: 100%;
    background-color: #2B265A;
}

#WhyIO {
    /* position: relative; */
    min-height: 550px;
    width: 100%;
    background-color: white;
    
    /* padding-left: 120px;
    padding-top: 120px; */
}

.contentTitleDiv {
    margin-bottom: 60px;
}

.contentTitleDiv div {
    margin-top: -2px;
    height: 48px;
    width: 4px;
    background-color: #511C64;
    float: left;
}

.contentDiv h1 {
    font-size: 35px;
    margin-left: 30px;
    font-weight: bold;
}

.contentDiv p {
    margin-bottom: 40px;
}

#WhyIOImageDiv {

    width: 200px;
}

.quote {
    text-align: center;
    font-size: 24px;
    margin-top: 23px;
}

@media screen and (max-width: 992px) {
    .quote {
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) {
    .quote {
        font-size: 18px;
    }
}

#whyIOImageDiv img {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---------------*/
/* End Why IO */

/*---------------*/
/* Start How It Works */

#HowItWorks {
    margin-top: 70px;
}

.howItWorksStepInner {
    display: flex;
    justify-content: center;
}

.howItWorksImageDiv p {
    line-height: 80px;
    font-size: 80px;
    position: relative;
    /* float: left; */
    /* right: 50px; */
}

.howItWorksImageDiv {
    height: 80px;
    width: 80px;
    margin: auto;
}

.howItWorksImageDiv img {
    position: absolute;
    top: 0;
    height: 80px;
    width: 80px;
}

.howItWorksExplainerText {
    /* color: white; */
    text-align: center;
}

#HowItWorksContainer {
    color: white;
    background-color: #2B265A;
    padding: 100px 0pt;
}

/*---------------*/
/* End How It Works */

/*---------------*/
/* Begin Why Smart Meters */

#WhySmartMetersImg {
    margin-top: 60px;
}

.marginContainer {
    padding: 120px;
}

.maxWidth {
    max-width: 2000px;
}

@media screen and (max-width: 767px) {
    .marginContainer {
        padding: 30px;
    }
}

/*---------------*/
/* End Why Smart Meters

/*---------------*/
/* Begin Our Plans */

#OurPlansContainer {
    background-color: #2B265A;
    color: white;
}

#OurPlansH1 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 40px;
}

.planCard {
    background-color: white;
    color: black;
    /* https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 7px;
    width: 231px;
    min-height: 283px;
    margin: 15px auto;
}

.planCard h1 {
    font-size: 16px;
    text-align: center;
}

.planCard p {
    text-align: center;
    position: relative;
    top: -10px;
}

.percOffPara {
    font-size: 10px;
    color: #A3A3A3;
}

.planDescriptionPara {
    font-size: 12px;
    font-style: italic;
    color: #A3A3A3;
}

.planCard ul {
    padding-left: 20px;
}

.planCard li {
    font-size: 12px;
}

.planCard button {
    color: white;
    background-color: #2B265A;
    /* position: absolute; */
    /* bottom: 25px; */
    /* https://www.tutorialrepublic.com/faq/how-to-get-current-image-size-in-javascript.php */
    /* (353-241)/2 = 56 */
    /* left: 83px; */
    /* right: 83px; */
    /* left: 25px; */
    /* right: 25px; */
    /* width: 190px; */
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 7px;
    height: 35px;
    font-size: 11px;
    transition-duration: 0.4s;
}

.planCard button:hover {
    background-color: deeppink;
}

/*---------------*/
/* End Our Plans */

/*---------------*/
/* Begin Customer Experiences */

#CustomerExperiencesContainerLarger {
    background-color: #2B265A;
    color: white;
}

#CustomerExperiencesContainerLarger .contentTitleDiv div {
    background-color: white;
}

#CustomerExperiencesContainer {
    margin-top: 50px;
}

.customerExperience h2 {
    text-align: center;
    font-size: 20px;
}

.customerImage {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px auto;
}

.customerExperience p {
    width: 70%;
    text-align: center;
    margin: 50px auto;
    font-size: 12px;
}

/*---------------*/
/* End Customer Experiences */

/*---------------*/
/* Start CTA */
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OurPlans {
    background-color: white; 
    color: #2B265A; 
    border: 1px solid #2B265A;
    box-sizing: border-box;
    border-radius: 5px;
}
.OurPlans:hover {
    background-color: #2B265A;
    color: white;
}

/*---------------*/
/* End CTA */

/*---------------*/
/* Begin Lets Talk */

#LetsTalkContainer {
    background-color: #2B265A;
    color: white;
    padding: 100px 0px;
}

/*---------------*/
/* End Lets Talk */

/*---------------*/
/* Begin Pay Less */

/* https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */
#PayLessImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#PayLessContainer img {
    width: 100%;
}

.fineprint {
    font-size: small;
}

/*---------------*/
/* End Lets Talk */
