/* ------ NAVBAR ---------*/
.navbar {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    opacity: .97;
    z-index: 100;
    padding: 11pt;
}

.navbar-brand {
    max-width: calc(100vw - 90pt);
}

#NavLogo {
    width: 234pt;
    max-width: calc(100vw - 90pt);
    /* margin: 20pt auto; */
    margin: 5pt;
}

#NavLogo:hover {
    text-decoration: none;
}

.navItem {
    text-align: center;
    margin-right: 20pt;
    margin-left: 20pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: black;
    padding: 10pt;
}
.navItem:hover {
    color: #FD5C8F;
}

@media (min-width: 992px) {
    .NavUnderlineLink {
        position: relative;
        text-decoration: none;
        display: inline-block;
    }
    
    .NavUnderlineLink:after {
        display: block;
        content: '';
        border-bottom: solid 1px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    
    .NavUnderlineLink:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
}
/* End Navbar */

/* ------ FOOTER ---------*/
#Footer {
    background-color: whitesmoke;
    padding: 40pt;
    font-size: 10pt;
    font-family: 'Quicksand', sans-serif;
}
#FooterLogo {
    width: 30pt; 
    padding: 0pt;
}
.footerColumn {
    padding: 10pt; padding-right: 30pt;
}
.footerLink {
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.footerLink:hover {
    color: black;
}
#BusinessStatement {
    text-align: center;
}
#Tribute {
    text-align: right;
    font-size: 8pt;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding: 5pt;
}
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

#FAQLink {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.waitlistEmail {
    font-size: 10pt;
    background-color: #2B265A;
    border-color: #1c183f;
    opacity: 0.8;
    color: white;

}

.waitlistEmail:focus {
    font-size: 10pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #453c92, 0 0 8px #4a4296;
    background-color: #2B265A;
    /* opacity: 0.7; */
    color: white;
}

.waitlistEmail::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.waitlistEmail:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
/* End Footer */

/* Welcome */
#HeaderContainer {
    position: relative;
    width: 100%;
    min-height: 250pt;
    /* max-height: 100%; */
    
    padding-top: 10pt;
    padding-bottom: 10pt;
    
    background-image: url("../CommonResources/coloredBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#icon1 {
    position: absolute;
    height: 50px;
    top: 40%;
    left: 10%;
    transform: rotate(20deg);
    opacity: 50%;
}

#icon2 {
    position: absolute;
    top: 40%;
    left: 80%;
    height: 50px;
    opacity: 50%;
}
#icon3 {
    position: absolute;
    height: 50px;
    top: 20%;
    left: 40%;
    opacity: 50%;
}

#icon4 {
    position: absolute;
    top: 60%;
    left: 70%;
    height: 50px;
    opacity: 50%;
}
#icon5 {
    position: absolute;
    height: 50px;
    top: 65%;
    left: 15%;
    opacity: 50%;
}

#WelcomeText {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 30pt;
    font-weight: 600;
    margin: 0 0 10pt 0;
    -webkit-animation: fadein 2s;    
    -moz-animation: fadein 2s;

}

#lightBulbImg {
    display: block;
    margin: 0 auto;
    max-width: 125pt;
    width: 100%;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.subtitle {
    opacity: 0;
    color: whitesmoke;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.subtitleLink {
    color: #FFAB8F !important;
}

#DownArrow {
    position: absolute;
    height: 25pt;
    left: 50%;
    bottom: 10pt;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}

#MainSection {
    padding: 40pt 10pt;
}

/* ThankYouSection */
.section {
    padding: 15pt 5pt;
}

#SocialsContainer {
    max-width: 200pt;
    margin: 0 auto;
}

/* Socials */
.socialLink img {
    height: 35pt;
    padding: 5pt;
    margin: 20pt auto;

}
.socialLink img :hover {
    -webkit-box-shadow: 3px 3px 5px 6px grey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px grey;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px grey;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#GoogleReview {
    display: block;
    margin: 0 auto;
    height: 70pt;
}

/* Status Modal */

#UploadStatusMsgImg {
    height: 75pt;
    width: 75pt;
    display: block;
    margin: 20pt auto;
}

#UploadStatusMsgText {
    text-align: center;
    width: 100%;
    margin-top: 25pt;

}

/* End Status Modal */



/* Common */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

/* Purple Button Solid */
.btnPurpleSolid {
    border-color: #5028A9;
    font-size: 12pt;
    background-color: #5028A9;
    color: white;
    /* opacity: 0.8; */
    transition: 1s;
}

.btnPurpleSolid:hover  {
    font-size: 12pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #5028A9, 0 0 8px #5028A9;
    background-color: #5028A9;
    transition: 1s;
    /* opacity: 0.7; */
    color: white;
}

.btnPurpleSolid:focus  {
    border-color: #5028A9;
    box-shadow: inset 0 0px 0px #453c92, 0 0 0px #4a4296;
    transition: .5s;
}
/* End Purple Outline Solid */

/* Fancy lists */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.fancyList {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.fancyList li {
  counter-increment: my-awesome-counter;
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.fancyList li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
}

/*Better Link Hover*/
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
    
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
/* End Better Link */