<html>

  <head>
    <title>IO Energy - Sign Up</title>

    <link rel="stylesheet" href="../CommonResources/common.css" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--End Bootstrap-->

    <!-- Vue.js -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  </head>
  <div id="app">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!--IO Logo-->
            <div class="navbar-brand" href="#">
                <a href="/"><img src="../CommonResources/ioenergy-partners-logo_energy-locals_SMALL.png" id="NavLogo" alt="IO Energy Logo"></a>
            </div>

        <!--Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border: 0pt;">
                <span class="navbar-toggler-icon"></span>
            </button>

        <!--Links-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navItem navUnderlineLink" href="/">Home</a>
                    <a class="navItem navUnderlineLink" href="/OurPlans/">Pricing</a>
                    <a class="navItem navUnderlineLink" href="/HowItWorks/">How It Works</a>
                    <a class="navItem navUnderlineLink" href="/AboutUs/">About Us</a>
                    <!-- <a class="navItem navUnderlineLink" href="/CustomerStory/">Customer Stories</a> -->
                    <a class="navItem navUnderlineLink" href="/ContactUs/">Contact</a>

                    <!-- This will no longer work instead on onlick call the mobileCheck(id, subject) function passing in the id of this link and the desired subjectline -->
                    <!-- <a class="navItem navUnderlineLink" href="">Contact</a> -->
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div id="SignUpFormContainer" class="col-lg-8">
          <!-- No value for action yet -->
          <!-- <form action="http://localhost:8080/" method="POST"> -->
          <form id="SignUpForm" onsubmit="submitForm();return false" method="POST">
            <label for="customer_type_code">Residential or Business</label>
            <select name="customer_type_code" id="customer_type_code" v-on:change="changeCustomerTypeCode">
              <option value="none">Please select an option</option>
              <option value="resident">Residential</option>
              <option value="company">Business</option>
            </select>

            <div v-if="showResidential">
              <label for="contact1_title">Title</label>
              <select name="customer1_title" id="customer1_title">
                <option value="none">Please select an option</option>
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="miss">Miss</option>
                <option value="mr">Dr</option>
              </select>

              <label for="contact1_first_name">First name</label>
              <input type="text" id="contact1_first_name" name="contact1_first_name" />
  
              <label for="contact1_last_name">Last name</label>
              <input type="text" id="contact1_last_name" name="contact1_last_name" />
  
              <label for="contact1_mobile_no">Mobile phone number</label>
              <input type="number" id="contact1_mobile_no" name="contact1_mobile_no" v-on:change="mobileNumFieldChanged" />
  
              <label for="contact1_phone_std">Landline phone number area code</label>
              <input type="number" id="contact1_phone_std" name="contact1_phone_std" />
  
              <label for="contact1_phone_no">Landline phone number</label>
              <input type="number" id="contact1_phone_no" name="contact1_phone_no" />
            </div>

            <div v-else-if="showBusiness">
              <label for="contact1_title">Title</label>
              <select name="customer1_title" id="customer1_title">
                <option value="none">Please select an option</option>
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="miss">Miss</option>
                <option value="mr">Dr</option>
              </select>

              <label for="business_name">Company name</label>
              <input type="text" id="business_name" name="busienss_name" />

              <label for="abn_number">ABN or ACN</label>
              <input type="number" id="abn_number" name="abn_number" />

              <label for="contact1_first_name">Contact person: First name</label>
              <input type="text" id="contact1_first_name" name="contact1_first_name" />

              <label for="contact1_last_name">Surname</label>
              <input type="text" id="contact1_last_name" name="contact1_last_name" />

              <label for="contact1_mobile_no">Phone number - Mobile</label>
              <input type="number" id="contact1_mobile_no" name="contact1_mobile_no" />
  
              <label for="contact1_phone_std">Phone number - Landline Area Code</label>
              <input type="number" id="contact1_phone_std" name="contact1_phone_std" />
  
              <label for="contact1_phone_no">Phone Number - Landline phone number</label>
              <input type="number" id="contact1_phone_no" name="contact1_phon_no" />
            </div>

            <label for="email_address">Email address</label>
            <input type="email" id="email_address" name="email_address" />

            <label for="site_post_code">Postcode</label>
            <input type="number" id="site_post_code" name="site_post_code" />

            <label for="address_auto_input">Please enter the first line of your address</label>
            <input type="text" id="address_auto_input" name="address_auto_input" />

            <input type="text" id="site_floor_no" name="site_floor_no" />
            <input type="text" id="site_floor_type" name="site_floor_type" />
            <input type="text" id="site_unit_no" name="site_unit_no" />
            <input type="text" id="site_unit_type" name="site_unit_type" />
            <input type="text" id="site_street_no" name="site_street_no" />
            <input type="text" id="site_street_name" name="site_street_name" />
            <input type="text" id="site_street_type_code" name="site_street_type_code" />
            <input type="text" id="site_suburb" name="site_suburb" />
            <input type="text" id="site_state" name="site_state" />
            <!-- Put postcode here again? -->

            <label for="transfer_type">Are you about to move into this property?</label>
            <select name="transfer_type" id="transfer_type">
              <option value="transfer">Transfer</option>
              <option value="movin">Move in</option>
            </select>

            <label for="transfer_move_in_date">What date are you moving in?</label>
            <input type="date" id="transfer_move_in_date" name="transfer_move_in_date" />

            <label for="site_identifier">
              If you have a current bill handy, please enter your Electricity National 
              Meter Identifier (NMI) or Meter Number:
            </label>
            <input type="number" id="site_identifier" name="site_identifier" max="100000000000" />

            <label for="user_defined_1">Do you have solar installed at this property?</label>
            <input type="radio" id="user_defined_1_y" name="user_defined_1" value="y" />
            <label for="user_defined_1_y">Yes</label>
            <input type="radio" id="user_defined_1_n" name="user_defined_1" value="n" />
            <label for="user_defined_1_n">No</label>

            <div v-if="showResidential">
              <label for="concession_flag">Do you hold a concession card?</label>
              <input type="radio" id="concession_flag_y" name="concession_flag" value="y" />
              <label for="concession_flag_y">Yes</label>
              <input type="radio" id="concession_flag_n" name="concession_flag" value="n" />
              <label for="concession_flag_n">No</label>

              <!-- SOME OPTIONS BELOW ARE DUPLICATED IN DESCRIPTION -->
              <label for="conc_card_type_code">What type of concession card do you have?</label>
              <select name="conc_card_type_code" id="conc_card_type_code">
                <option value="none">Please select an option</option>
                <optgroup label="New South Wales">
                  <option value="cdhcc" class="nsw">Health Care Card Carer (Child Under 16) [CD]</option>
                  <option value="cshc" class="nsw">Commonwealth Seniors Health Card</option>
                  <option value="dvagc" class="nsw">Dept of Veterans Affairs Gold Card</option>
                  <option value="dvagc_eda" class="nsw">DVA Gold Card (Extreme Disability Adjustment)</option>
                  <option value="dvagc_tpi" class="nsw">DVA Gold Card (Special Rate TPI Pension only)</option>
                  <option value="dvagc_ww" class="nsw">DVA Gold Card (War Widows Pension only)</option>
                  <option value="dvapcc" class="nsw">DVA Pension Concession Card</option>
                  <option value="dvpc" class="nsw">DVA Pension Concession Card</option>
                  <option value="hcc" class="nsw">Health Care Card</option>
                  <option value="nocard" class="nsw">No Card (Used for One-Off Rebates)</option>
                  <option value="nocard_ls" class="nsw">No Card with Life Support</option>
                  <option value="pcc" class="nsw">Pensioner Concession Card</option>
                  <option value="sahcc" class="nsw">Health Care Card Sickness Allowance [SA]</option>
                  <option value="slhcc" class="nsw">Health Care Card Special Benefit [SP]</option>
                  <option value="sphcc" class="nsw">Health Care Card Special Benefit [SP]</option>
                </optgroup>
                <optgroup label="Queensland">
                  <option value="cshc" class="qld">Commonwealth Seniors Health Card</option>
                  <option value="dvagc" class="qld">DVA Gold Card (Repatriation Health Card)</option>
                  <option value="dvagc_tpi" class="qld">DVA Gold Card (Special Rate TPI Pension only)</option>
                  <option value="dvagc_ww" class="qld">DVA Gold Card (War Widows Pension only)</option>
                  <option value="dvapcc" class="qld">DVA Pension Concession Card</option>
                  <option value="dvpc" class="qld">DVA Pension Concession Card</option>
                  <option value="pcc" class="qld">Pensioner Concession Card</option>
                  <option value="qgsc" class="qld">Queensland Government Seniors Card</option>
                </optgroup>
                <optgroup label="South Australia">
                  <option value="cshc" class="sa">Commonwealth Seniors Health Card</option>
                  <option value="dvagc" class="sa">Dept of Veterans Affairs Gold Card</option>
                  <option value="dvageda" class="sa">CDVA Gold Repatriation Health Card (EDA)</option>
                  <option value="dvagtpi" class="sa">DVA Gold Card (Special Rate TPI Pension only)</option>
                  <option value="dvagww" class="sa">DVA Gold Repatriation Health Card (War Widow)</option>
                  <option value="dvapcc" class="sa">DVA Pension Concession Card</option>
                  <option value="dvashc" class="sa">Commonwealth Seniors Health Card</option>
                  <option value="dvpc" class="sa">DVA Pension Concession Card</option>
                  <option value="hcc" class="sa">Health Care Card</option>
                  <option value="nocard" class="sa">No Card (Used for One-Off Rebates)</option>
                  <option value="nzwwp" class="sa">New Zealand War Widow Pension</option>
                  <option value="pcc" class="sa">Pensioner Concession Card</option>
                  <option value="sa_energy" class="sa">South Australia Energy Concession</option>
                  <option value="sa_mhc" class="sa">South Australia Medical Heating and Cooling Concessio</option>
                  <option value="satempconc" class="sa">South Australia Temporary Concession</option>
                  <option value="scc" class="sa">SA State Concession Card</option>
                  <option value="ukwwp" class="sa">British War Widow Pension</option>
                </optgroup>
                <optgroup label="Tasmania">
                  <option value="dvagv" class="tas">Dept of Veterans Affairs Gold Card</option>
                  <option value="dvpc" class="tas">DVA Pension Concession Card</option>
                  <option value="hcc" class="tas">Health Care Card</option>
                  <option value="immie" class="tas">Immicard (Bridging Visa E)</option>
                  <option value="nocard_ls" class="tas">No Card with Life Support</option>
                  <option value="pcc" class="tas">Pensioner Concession Card</option>
                  <option value="tcc" class="tas">Tasmanian Concession Card (Issued by Dept of Premier and Cabinet)</option>
                </optgroup>
                <optgroup label="Victoria">
                  <option value="cshc" class="vic">Commonwealth Seniors Health Card</option>
                  <option value="dvagc" class="vic">Dept of Veterans Affairs Gold Card</option>
                  <option value="dvagc_tpi" class="vic">DVA Gold Card (Special Rate TPI Pension only)</option>
                  <option value="dvapcc" class="vic">DVA Pension Concession Card</option>
                  <option value="dvauin" class="vic">DVA Unique Identification Number</option>
                  <option value="dvpc" class="vic">DVA Pension Concession Card</option>
                  <option value="grphm" class="vic">Group Home</option>
                  <option value="hcc" class="vic">Health Care Card</option>
                  <option value="nocard" class="vic">No Card (Used for One-Off Rebates)</option>
                  <option value="pcc" class="vic">Pensioner Concession Card</option>
                </optgroup>
              </select>

              <label for="conc_card_number">What&#39;s your concession card number?</label>
              <input type="text" name="conc_card_number" id="conc_card_number" pattern="[a-zA-Z0-9]+" maxlength="20" />

              <label for="conc_expiry_date">What&#39;s the card expiry date?</label>
              <input type="date" name="conc_expiry_date" id="conc_expiry_date" />

              <label for="conc_life_support_flag">Does anyone at your property require life support equipment?</label>
              <input type="radio" name="conc_life_support_flag" id="conc_life_support_flag_y" value="y" />
              <label for="conc_life_support_flag_y">Yes</label>
              <input type="radio" name="conc_life_support_flag" id="conc_life_support_flag_n" value="n" />
              <label for="conc_life_support_flag_n">No</label>

              <label for="conc_life_support_machine_type">What type of life support equipment do you have?</label>
              <input type="text" name="conc_life_support_machine_type" id="conc_life_support_machine_type" maxlength="200" />
            </div>

            <label for="contact1_date_of_birth">What&#39;s your date of birth?</label>
            <input type="date" name="contact1_date_of_birth" id="contact1_date_of_birth" />

            <label for="identification">Please provide a form of identification</label>
            <select name="identification" id="identification">
              <option value="none">Please select an option</option>
              <option value="drivers">Driver&#39;s License</option>
              <option value="passport">Passport</option>
              <option value="medicare">Medicare card</option>
            </select>

            <label for="contact1_drivers_license">License Number</label>
            <input type="text" name="contact1_drivers_license" id="contact1_drivers_license" />

            <label for="contact1_drivers_expiry">Expiry date</label>
            <input type="date" name="contact1_drivers_expiry" id="contact1_drivers_expiry" />

            <label for="contact1_passport">Passport number</label>
            <input type="text" name="contact1_passport" id="contact1_passport" pattern="[a-zA-Z0-9]+" maxlength="20" />

            <label for="contact1_passport_expiry">Expiry date</label>
            <input type="date" name="contact1_passport_expiry" id="contact1_passport_expiry" />

            <label for="contact1_medicare_no">Medicare card number</label>
            <input type="number" name="contact1_medicare_no" id="contact1_medicare_no" maxlength="12" />

            <label for="payment_method_type">Preferred payment method</label>
            <input type="radio" name="payment_method_type" id="payment_method_type_cheque" value="cheque" checked="checked" />
            <label for="payment_method_type_cheque">Cheque (pay on receipt of bill)</label>
            <input type="radio" name="payment_method_type" id="payment_method_type_direct" value="direct" />
            <label for="payment_method_type_direct">Direct Debit</label>
            <input type="radio" name="payment_method_type" id="payment_method_type_crcard" value="crcard" />
            <label for="payment_method_type_crcard">Credit Card</label>

            <!-- direct_debit_bank_code ??? (WBC by default) -->

            <label for="direct_debit_number">BSB &amp; Account number</label>
            <input type="number" name="direct_debit_number" id="direct_debit_number" />

            <label for="green_percent">Would you like to add Green Power?</label>
            <select name="green_percent" id="green_percent">
              <option value="none">Please select an option</option>
              <option value="0.00">No</option>
              <option value="0.10">10&percnt;</option>
              <option value="0.20">20&percnt;</option>
              <option value="0.50">50&percnt;</option>
              <option value="1.00">100&percnt;</option>
            </select>

            <input type="checkbox" name="terms_and_conditions_check" id="terms_and_conditions_check" />
            <label for="terms_and_conditions_check">
              Please tick here if you agree with the Terms &amp; Conditions of this supply agreement
            </label>

            <input type="checkbox" name="promo_allowed" id="promo_allowed" />
            <label for="promo_allowed">
              Keep me updated on news from <span id="UpdatedPartner">[partner]</span>
            </label>

            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- JS file containing Vue.js code -->
  <script src="script.js"></script>

</html>