/* Common */
.heroTextContainer {
    padding: 30pt 10pt;
}
.fa {
    vertical-align: middle;
    font-size: 35pt;
    color: #3c0c78;
}
/* End Common */

/* Start Weclome section */
#HeaderContainer {
    width: 100%;
    min-height: 500pt;
    padding: 21pt 0;
    /* max-height: 100%; */
    background-image: linear-gradient(89.6deg, #160C21 53.22%, rgba(44, 18, 43, 0) 83.56%), url('assets/hello.png');
    background-size: cover;
    justify-content: center;
    align-items: center; 
}

#WelcomeText {
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;

}

#Subtitle {
    opacity: 0;
    color: whitesmoke;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    #WelcomeText , #Subtitle{
        text-align: center;
        max-width: 250pt;
        margin: auto;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}
/* End Welcome section */

/* Start Contact Details */
#ContactDetails {
    padding: 50pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: white;
}
#EmailCapture1 {
    margin-left: auto;
    margin-right: auto;
    padding: 0pt;
    height: auto;
    width: 250pt;
    /* position: relative;
    bottom: 125pt; */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#EmailCaptureTitle{
    text-align: center;
    margin: 20pt 0 0 0;
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}

#EmailForm {
    padding: 20pt;
}

#EmailButton {
/*    float: right;*/
/*    height: 40pt;*/
    width: 100%;
    padding: pt;
    margin: 1pt;
/*    border-radius: 40pt;*/
    background-color: #3c0c78;
    border-color: #290755;
    transition: 0.3;
}

#EmailButton:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3 8px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #2b0758;
}

.input-group {
    margin-top: 8pt;
}
#ActiveCampaign {
    width: 100%;
    height: 400px;
    border: none;
}
#TitleText {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20pt;
    font-weight: 700;
    padding-top: 30px;
}
#ContactText {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 100px;
}
.center {
    padding: 0px 15px; 
}
#SocialIcons {
    text-align: center;
}
/* End Contact Details */
