/* ---------- Welcome Section  ---------- */
/*@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url(../CommonResources/Fonts/GTWalsheimProRegular.woff2) format("woff2"),url(../CommonResources/Fonts/GTWalsheimProRegular.woff) format("woff"),url(../CommonResources/Fonts/GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
  }

@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url(../CommonResources/Fonts/GTWalsheimProBold.woff2) format("woff2"),url(../CommonResources/Fonts/GTWalsheimProBold.woff) format("woff"),url(../CommonResources/Fonts/GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
  }*/

/* ------ NAVBAR ---------*/
.navbar {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    opacity: .97;
    z-index: 100;
    padding: 11pt;
}

.navbar-brand {
    max-width: calc(100vw - 90pt);
}

#NavLogo {
    width: 234pt;
    max-width: calc(100vw - 90pt);
    /* margin: 20pt auto; */
    margin: 5pt;
}

#NavLogo:hover {
    text-decoration: none;
}

.navItem {
    text-align: center;
    margin-right: 20pt;
    margin-left: 20pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: black;
    padding: 10pt;
}
.navItem:hover {
    color: #FD5C8F;
}

@media (min-width: 992px) {
    .NavUnderlineLink {
        position: relative;
        text-decoration: none;
        display: inline-block;
    }
    
    .NavUnderlineLink:after {
        display: block;
        content: '';
        border-bottom: solid 1px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    
    .NavUnderlineLink:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
}
/* End Navbar */

/* ------ FOOTER ---------*/
#Footer {
    background-color: whitesmoke;
    padding: 40pt;
    font-size: 10pt;
    font-family: 'Quicksand', sans-serif;
}
#FooterLogo {
    width: 30pt; 
    padding: 0pt;
}
.footerColumn {
    padding: 10pt; padding-right: 30pt;
}
.footerLink {
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.footerLink:hover {
    color: black;
}
#BusinessStatement {
    text-align: center;
}
#Tribute {
    text-align: right;
    font-size: 8pt;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding: 5pt;
}
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

#FAQLink {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.waitlistEmail {
    font-size: 10pt;
    background-color: #2B265A;
    border-color: #1c183f;
    opacity: 0.8;
    color: white;

}

.waitlistEmail:focus {
    font-size: 10pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #453c92, 0 0 8px #4a4296;
    background-color: #2B265A;
    /* opacity: 0.7; */
    color: white;
}

.waitlistEmail::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.waitlistEmail:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
/* End Footer */

/* Slideshow */

/* End slideshow */

/* Welcome */
#HeaderContainer {
    width: 100%;
    min-height: 300pt;
    max-height: 100%;
    
    padding-top: 20pt;
    padding-bottom: 20pt;
    
    background-image: url("../CommonResources/coloredBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#icon1 {
    position: absolute;
    height: 50px;
    top: 40%;
    left: 10%;
    transform: rotate(20deg);
    opacity: 50%;
}

#icon2 {
    position: absolute;
    top: 40%;
    left: 80%;
    height: 50px;
    opacity: 50%;
}
#icon3 {
    position: absolute;
    height: 50px;
    top: 20%;
    left: 40%;
    opacity: 50%;
}

#icon4 {
    position: absolute;
    top: 60%;
    left: 70%;
    height: 50px;
    opacity: 50%;
}
#icon5 {
    position: absolute;
    height: 50px;
    top: 65%;
    left: 15%;
    opacity: 50%;
}

#WelcomeText {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 30pt;
    font-weight: 600;
    margin: 0 0 10pt 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;

}

.subtitle {
    opacity: 0;
    color: whitesmoke;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.subtitleLink {
    color: #FFAB8F !important;
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}


/*
.chevronButton {
    display: block;
    margin: auto;
    opacity: 0;
     Animation 
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
*/
/* End Welcome */
/* Upload Section */






/* Upload Dropbox */
.files input {
    outline: 2px dashed #5028A9;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     
    outline: 2px dashed #5028A9;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #5028A9;
 }
.files{ 
    position:relative
}
.files:after {  
    pointer-events: none;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    /* right: 0; */
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{
    background-color:#5028A9;
    line-height: 30pt;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.files:before {
    position: absolute;
    bottom: 0px;
    /* top: 50px; */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    width: 100%;
    /* right: 0; */
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #5028A9;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    line-height: 30pt;
}
/* End Upload DropBox */

/* Upload Bill Modal */

#UploadStatusMsgImg {
    height: 75pt;
    width: 75pt;
    display: block;
    margin: 20pt auto;
}

#UploadStatusMsgText {
    text-align: center;
    width: 100%;
    margin-top: 25pt;

}

/* End Upload Bill Modal */

/* End Upload Section */

/* Control Panel*/
#UploadBillSection {
    margin: 0pt 10pt 30pt 10pt;
}


.sectionH1 {
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 200; */
    text-align: center;
    margin-bottom: 40pt;
}

#InfoControlPanel {
    padding: 70pt 20pt;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
}

.controlPanelColumnTitle {
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 14pt;
}

.inputBoxContainer {
    padding: 5pt 0;
}



/* Get rid of the increment/decrement buttons
in the input fields */
/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#MoveToOurPlans {
    margin: 50pt auto -20pt auto;
    width: 30pt;
}

#DownChevron:hover {
    /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

/* End Control Panel*/


/* Save Even More & Current Plan/Standard Offer Selector */

#SavingsControlPanel {
    padding: 10pt;
    margin: auto;
    /* margin-top: 60pt; */
    max-width: 320pt;
}

#CurrentPlanControlPanel {
    padding: 10pt;
    max-width: 320pt;
    margin: 10pt auto
}

.customPlanInput {
    padding: 0 10pt;
    font-size: 10pt;
}

.customPlanInput .input-group-text {
    font-size: 8pt;
    /* font-weight: 800; */
    padding: 4pt;
    
}

.customPlanInputTitle{
    display: block;
    width: 100%;
    text-align: center;
    margin: 5pt 0;
    
}

.customPlanInputTextLabelContainer {
    display: block;
    margin: 5 auto;
}

/* End Save Even More & Current Plan/Standard Offer Selector */


/* Our Plans */


#OurPlans {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    padding: 40pt 10pt;
    margin: auto;
}

#BusinessPlans {
    width:100%;
}

.ourPlansSubtitle {
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 60pt 0 20pt 0;
    line-height: 30pt;
}

.planCard {
    width: 320pt;
    max-width: calc(100vw - 70pt);
    margin-left: auto;
    margin-right: auto;
    padding: 40 10 60 10;
    /* margin: 20 auto; */
/*    width: 250pt;*/
    /* min-height: calc(100% -10pt); */
    border-radius: 0pt;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    /* display: table; */
}

@media (max-width: 1200px) {
    .planCard {
        margin: 0pt 10pt 10pt 10pt;
        /* background-color: red; */
        border-radius: 3pt;
    }
}

@media (max-width: 992px) {
    .mostPopular {
        margin-top: 30pt;
        /* background-color: red; */
        border-radius: 0pt 0pt 3pt 3pt;
    }
}

@media (min-width: 1200px) {
    #FirstCardInOurPlans {
        border-radius: 5pt 0pt 0pt 5pt;
    }

    #LastCardInOurPlans {
        border-radius: 0pt 5pt 5pt 0pt;
    }
}

/* Adding margin for induvidual cards on sm screens
@media (max-width: 576px) {
    .planCard{
        margin: 20pt;
    }
}
*/

.mostPopular {
    /* border-radius: 2pt; */
    /* border-color: orange; */
    /* border: 2pt solid; */
    border: 2pt solid rgb(250, 74, 176);
    /* margin: 10pt; */
    /* padding: 40 10 60 10; */
    /* height: 100%;  */
}

.mostPopularBanner {
    position: absolute;
    top: -30pt;
    left: -2pt;
    width: calc(100% + 4pt);
    height: 30pt;

    border-radius: 2pt 2pt 0 0;
    border: 2pt solid rgb(250, 74, 176);
    background-color: rgb(250, 74, 176);

    line-height: 25pt;
    color: white;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
}

#OurPlansContainer {
    margin: auto;
    padding: 20pt;
}

/* Max width for large sceens*/
@media (min-width: 1200px) {
    #OurPlansContainer{
        max-width: 1500px;
    }
} 


.planTitle {
    font-weight: 600;
    width: 100%;
}

.planSubtitle {
    font-size: 10pt;
}

.customerSavings {
    font-size: 17pt;
    font-weight: 800;
    /* font-family: 'Roboto Condensed', sans-serif; */
    margin: 30pt auto 0pt auto;
    height: 40pt;
    
}

.marketOfferSavings {
    margin: 20pt auto;
    padding: 20pt;
    height: 70pt;
    line-height: 12pt;
    display: inline-block;
    vertical-align: middle;
}

.buttonFlexContainer {
    height: 100pt;
}

.buttonCenteringContainer {
    height: 100pt;
}

.planButton {
    margin-left: auto;
    margin-right: auto;
    padding: 20;
    background-color: #5028A9;
    color: white !important;
    font-weight: 600;
    font-size: 16pt;
    transition: 0.3s;
    max-width: 200pt;
    font-size: 15pt;

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.planButton:hover {
    color: white;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.annualBill {
    font-size: 9pt;
    font-weight: 600;
    padding: 5pt
}

.planProperties {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
}
.planProperties li {
    margin: 15pt 0;
    line-height: 1em;
    height: 3em;
    /* height: 30pt; */
    padding: 10pt;
    /* margin: -2pt; */
    display: block;
    /* border-top: 2pt solid black; */
    /* border-bottom: 2pt solid black; */
}

.detailedRatesLink {
    position: absolute;
    bottom: 10pt;
    left: 0;
    right: 0;

    color:#007bff;
    font-size: 10pt;
    font-weight: 500;
}

.detailedRatesLink:hover {
    cursor: pointer;
    color:#4D89CA;
}

/* End Our Plans */

/* FAQ Section */

#FAQSection {
    padding-bottom: 40pt;
    padding-top: 40pt;
}

.faqCard {
    /* border: none;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 1s;
    background-color: #5028A9;
}

#accordionExample {
    max-width: 500pt;
    margin: auto;

}

.accordion {
    /* border-color: #2B265A; */
    /* border-radius: 0; */
    /* background-color: #5028A9; */
}

.faqCard {
    border-color: #5028A9;
    /* border-radius: 0; */
}

.faqCardHeader {
    background-color: #5028A9;
    color: white; 
    border-color: #5028A9;
    border-radius: 0;

}

.faqCardBody {
    background-color: white;
}

.diffButton {
    width: 100%;
    /* height: 100%; */
    border: 0;
}

.faqTitle {
    /* font-variant: small-caps; */
    font-size: 14pt;
    font-weight: 500;
    margin: 0;
}

/* End FAQ */

/* Testimonials */

#testimonials {
    /* height: fit-content; */
}

.testimonialsHeading {
    color: white;
    text-align: center;
    
}

.parallax {
    background-image: url("../CommonResources/coloredBackground.png");

    /* height: 50vh; */
    padding: 70pt 0pt;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.reviewCard {
    max-width: 300pt;
    margin: 40pt auto;
}

.reviewCardStyle2 {
    max-width: 300pt;
    margin: auto;
}

.reviewCardHeader {
    padding-top: 40pt;
}


.customerImg {
    height: 70pt;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%); 
    z-index: 1;
}

.customerImgStyle2 {
    border-radius: 50%;
    max-height: 50pt;
    max-width: 50pt;
    width: 100%;
    margin-left: auto;
    
}

.fa-star {
    color: #fff;
}

.fa-star.checked {
    color: #fc0;
}

/* Modal Styling */

#IoEnergyLogo {
    height: 40pt;
}

#ActiveCampaignModal {
    width: 100%;
    height: 280px;
    border: none;
}

#MailingListButton {
    display: block;
    margin: 20pt auto;
}

#EmailUsButton {
    display: block;
    margin: 20pt auto;
}

#EnergyLocalsButton {
    display: block;
    margin: 20pt auto;
}

#BookACallButton {
    display: block;
    margin: 20pt auto;
}

#MapContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#MapIcon {
    height: 100pt;
    width: 100pt;
    display: block;
    padding: 0;
    margin: 20pt 0;
    text-align: center;
}

#MapModalTitle {
    line-height: 80pt;
    font-size: 40pt;
    padding: 0 15;
}

/* Detailed Rates Modal Styling */
#DetailRatesImage {
    display: block;
    margin: auto;
    width: 100%;
}


.modal-title {
    font-family: 'Quicksand', sans-serif;
}

/* Disclaimer Modal Start */

#DisclaimerModalText {
    text-align: justify;
    margin: 30pt 20pt 15pt 20pt;
    line-height: 22.5pt;
}

#DisclaimerModalButton {
    display: block;
    margin: 20pt auto;
}

/* Disclaimer Modal End */

/* Bill Upload Modal */
/* https://codepen.io/avstorm/pen/jxjKGj */
.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
    /* display: inline-block;
    vertical-align: top; */
  }
  .radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
    /* display: inline-block;
    vertical-align: top; */
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #5028a9;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #5028a9;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }
  .cntr {
    /* position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 100%; */
    
    text-align: center;
  }
  .hidden {
    display: none;
  }
/* End Bill Upload Modal */

/* Common */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

@media (min-width: 576px) { 
    .rightVerticalLine-sm {
        border-right: #E9E9E9 solid 1pt;
    }

}

@media (min-width: 1200px) { 
    .rightVerticalLine-xl {
        border-right: #E9E9E9 solid 1pt;
    }

}

.titleUnderline {
    width: 30pt;
    height: 0pt;
    border-top: 3pt solid rgb(250, 74, 176);
    margin: 10pt auto;
}

.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    z-index: 2;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.radioButtonContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.InputBoxLabel {
    display: block;
    width: 100%;
    font-weight: 600;
}

/* Purple Button Outline */
.btnPurpleOutline {
    border-color: #5028A9;
    font-size: 10pt;
    color: #5028A9;
    /* opacity: 0.8; */
}

.btnPurpleOutline:hover  {
    font-size: 10pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #5028A9, 0 0 8px #5028A9;
    background-color: #5028A9;
    /* opacity: 0.7; */
    color: white;
}

.btnPurpleOutline:focus  {
    border-color: #5028A9;
    box-shadow: inset 0 0px 0px #453c92, 0 0 0px #4a4296;
}
/* End Purple Outline Button */
/* Purple Button Solid */
.btnPurpleSolid {
    border-color: #5028A9;
    font-size: 12pt;
    background-color: #5028A9;
    color: white;
    /* opacity: 0.8; */
    transition: .5s;
}

.btnPurpleSolid:hover  {
    font-size: 12pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #5028A9, 0 0 8px #5028A9;
    background-color: #5028A9;
    transition: .5s;
    /* opacity: 0.7; */
    color: white;
}

.btnPurpleSolid:focus  {
    border-color: #5028A9;
    box-shadow: inset 0 0px 0px #453c92, 0 0 0px #4a4296;
    transition: .5s;
}
/* End Purple Outline Solid */


/*Better Link Hover*/
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
    
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
/* End Better Link */

/* Slider Styling */

#peopleSlider {
    width: 95%;
}

#people-handle, #solar-handle, #control-handle, #off-peak-handle, #bill-handle {
    width: 3em !important;
    height: 1.6em !important;
    top: 50% !important;
    margin-top: -.8em !important;
    text-align: center !important;
    line-height: 1.6em !important;
}

.ui-slider-handle.ui-state-active {
    border-color: #5028A9;
    background-color: #5028A9;
}

/*End Slider Styling */

/* Radio Button Size:2 Styling */

#NoOfPeopleDefaultLabel {
    position: relative;
    width: 25%;
    padding: 2pt;

    left: 25%;
    top: 10pt;
    
    text-align: center;
    color: white;
    font-size: 8pt;
    font-weight: 600;

    border-radius: 3pt 3pt 0 0;
    border: 3pt solid #5028A9;
    background-color: #5028A9;

}

#BillingCycleDefaultLabel {
    position: relative;
    width: 67%;
    padding: 2pt;

    left: 33%;
    top: 11pt;
    
    text-align: center;
    color: white;
    font-size: 8pt;
    font-weight: 600;

    border-radius: 3pt 3pt 0 0;
    border: 3pt solid #5028A9;
    background-color: #5028A9;
}


/* From : https://codepen.io/souporserious/pen/avbJJp?editors=1100 */
.radioButtonsSize2 {
    /* background-color: #3395DE; */
	display: flex;
	/* max-width: 336px; */
	width: 100%;
	position: relative;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	font-size: 12px;
	border: 1px solid #5028A9;
	border-radius: 3px;
    color: #5028A9;
    margin: 10pt 0;
}

.radioButtonsSize2 > input {
	display: none;
}

.radioButtonsSize2 > input:checked + label {
    color: #fff;
    font-weight: 900;
    /* text-decoration: underline; */
}

.radioButtonsSize2 > input:nth-of-type(1):checked ~ label:last-of-type:before {
	transform: translateX(calc(0% + 0px));
}

.radioButtonsSize2 > input:nth-of-type(2):checked ~ label:last-of-type:before {
	transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons2 > input:nth-of-type(2):checked ~ label:last-of-type:before {
	transform: translateX(calc(100% + 0px));
}

.radioButtonsSize2 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    /* width: 150%; */
}

.radioButtonsSize2 label:last-of-type:before {
	content: "";
	display: block;
	max-width: calc(50% - 0px);
	margin: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: translateX(0);
}

.radioButtonsSize2 label {
	padding: 6px 3px;
	transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize2 label:before {
	background: #5028A9;
	transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize2 label:not(:last-child) {
	border-right: 1px solid #5028A9;
}
/* End Radio Button Size:2 */

/* Radio Button Size:3 Styling */
.radioButtonsSize3 {
    /* background-color: #3395DE; */
	display: flex;
	/* max-width: 336px; */
	width: 100%;
	position: relative;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	font-size: 12px;
	border: 1px solid #5028A9;
	border-radius: 3px;
    color: #5028A9;
    margin: 10pt 0;
}

.radioButtonsSize3 > input {
	display: none;
}

.radioButtonsSize3 > input:checked + label {
    color: #fff;
    font-weight: 900;
}

.radioButtonsSize3 > input:nth-of-type(1):checked ~ label:last-of-type:before {
	transform: translateX(calc(0% + 0px));
}

.radioButtonsSize3 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 1px));
}

.radioButtonsSize3 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 1px));
}

.chromeRadioButtons3 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons3 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 0px));
}


.radioButtonsSize3 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    /* width: 150%; */
}

.radioButtonsSize3 label:last-of-type:before {
	content: "";
	display: block;
	max-width: calc(33.3333% - 0px);
	margin: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: translateX(0);
}

.radioButtonsSize3 label {
	padding: 6px 3px;
	transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize3 label:before {
	background: #5028A9;
	transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize3 label:not(:last-child) {
	border-right: 1px solid #5028A9;
}

/* End Radio Button Size:3 */

/* Radio Button Size:4 Styling */
.radioButtonsSize4 {
    /* background-color: #3395DE; */
	display: flex;
	/* max-width: 336px; */
	width: 100%;
	position: relative;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	font-size: 12px;
	border: 1px solid #5028A9;
	border-radius: 3px;
    color: #5028A9;
    margin: 10pt 0;
}

.radioButtonsSize4 > input {
	display: none;
}

.radioButtonsSize4 > input:checked + label {
    color: #fff;
    font-weight: 900;
}

.radioButtonsSize4 > input:nth-of-type(1):checked ~ label:last-of-type:before {
    transform: translateX(calc(0% + 0px));
}

.radioButtonsSize4 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
}

.radioButtonsSize4 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 1px));
}

.radioButtonsSize4 > input:nth-of-type(4):checked ~ label:last-of-type:before {
    transform: translateX(calc(300% + 2px));
}

.chromeRadioButtons4 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons4 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 0px));
}

.chromeRadioButtons4 > input:nth-of-type(4):checked ~ label:last-of-type:before {
    transform: translateX(calc(300% + 0px));
}

.radioButtonsSize4 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    /* width: 150%; */
}

.radioButtonsSize4 label:last-of-type:before {
	content: "";
	display: block;
	max-width: calc(25% - 0px);
	margin: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: translateX(0);
}

.radioButtonsSize4 label {
	padding: 6px 3px;
	transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize4 label:before {
	background: #5028A9;
	transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize4 label:not(:last-child) {
	border-right: 1px solid #5028A9;
}

.radioButtonsSize4 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    /* width: 150%; */
}

/* End Radio Button Size:4 */

/* Disabled Radio Button Styling */

.radioButtonsSize2.childDisabled, .radioButtonsSize3.childDisabled, .radioButtonsSize4.childDisabled {
    opacity: .35;
}

.radioButtonsSize2 > input.radioDisabled + label, .radioButtonsSize3 > input.radioDisabled + label, .radioButtonsSize4 > input.radioDisabled + label {
    cursor: default; 
}

/* End Disabled Radio Button Styling */

/* Behind Class */
.behind {
    z-index: -99;
}
/* End Behind */

/* Postcode Autocomplete */
.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: dodgerblue !important;
    color: #fff;
}

.autocomplete-row {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* Control by no of lines */
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; */

}