/* Welcome */
#HeaderContainer {
    width: 100%;
    min-height: 300pt;
    max-height: 100%;
    
    padding-top: 20pt;
    padding-bottom: 20pt;
    
    background-image: url("../CommonResources/coloredBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#WelcomeText {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 30pt;
    font-weight: 600;
    margin: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;

}

#Subtitle {
    opacity: 0;
    color: whitesmoke;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}


/*
.chevronButton {
    display: block;
    margin: auto;
    opacity: 0;
     Animation 
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
*/
/* End Welcome */

/* Plan Card Grid */
#PlanCardsContainer {
    margin: 75pt auto;
}

.sectionH1 {
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 200; */
    text-align: center;
    margin-bottom: 40pt;
}


.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
      }
    @include media-breakpoint-only(md) {
        column-count: 3;
      }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
}

/* Common Classes */
/*Better Link Hover*/
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
    
}

a:hover {
    text-decoration: none;
}