/*Header Section*/
#LogoImg {
    width: 300pt;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

/*---------------*/

#HeaderSection {
    background-image: url("../CommonResources/coloredBackground.png");
        background-size: cover;
    padding-top: 100pt;
    padding-bottom: 150pt;

}

/*Welcome Section*/

#Welcome {
    padding: 10pt;
}

#welcomeH1 {
    text-align: center;
}

/*---------------*/

/*Survey Section*/
#SurveyTitle {
    text-align: center;
}

.typeFormCard {
    width: 80%; 
    height: 700px; 
    display: block; 
    margin-top: 20pt;
    margin-bottom: 30pt;
    margin-left: auto; 
    margin-right: auto;
    padding: 10pt;
    border: 1px solid whitesmoke;
    border-radius: 2pt;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*---------------*/

/*Calender Section*/

#CalendarTitle {
    text-align: center;
}


/*---------------*/

/*Thank You Section*/
#ThankYou {
    padding-bottom: 20pt;
}

#ThankYouTitle {
    text-align: center;

}

/*---------------*/


/*Common Classses*/
body {
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 48px;
    color: #212529;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

.subtitle {
    text-align: center;
    padding: 5pt;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    line-height: 25pt;
}

.titleUnderline {
    width: 30pt;
    height: 0pt;
    border-top: 3pt solid #FFA372;
}

.card {
    background-color: #FFFFFF;
    position: relative;
    bottom: 50pt;
    padding-top: 20pt;
    padding-bottom: 10pt;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Better Link Hover*/
a {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

a:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

a:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

/*---------------*/

/*---------------*/
