
/* Common */
p {
    /* text-align: justify; */
    font-family: 'Montserrat';
}
h1 {
    font-family: 'Montserrat';
}
.centerImg {
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}
.button {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.primaryBtn {
    background: #FF127F;
    color: white; 
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #FF127F;
}
.primaryBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.primaryBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.primaryBtn:hover span {
    padding-right: 25px;
}
.primaryBtn:hover span:after {
    opacity: 1;
    right: 0;
}

.secondaryBtn {
    background: #2B265A;
    border: 3px solid #FF127F;
    box-sizing: border-box;
    border-radius: 8px;
}
.secondaryBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.secondaryBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.secondaryBtn:hover span {
    padding-right: 25px;
}
.secondaryBtn:hover span:after {
    opacity: 1;
    right: 0;
}
/* End Common */

/* Start Weclome section */
#HeaderContainer {
    width: 100%;
    min-height: 500pt;
    padding: 21pt 0;
    
    justify-content: center;
    align-items: center; 
    background: #2B265A;
}
#WelcomeText {
    text-align: left;
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: -0.015em;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}
#HeaderImg {
    padding-top: 50px;
    width: 100%;
    height: auto;
}

#HeaderPlanBtn {
    opacity: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    float: left;
    width: 250px;
    height: 60px;
}
#HeaderContactBtn {
    opacity: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
    float: right;
    width: 250px;
    height: 60px;
}

@media (max-width: 768px) {
    #WelcomeText {
        text-align: center;
        max-width: 250pt;
        margin: auto;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}
/* End Welcome section */

/* Start Customer Summaries */
#CustomerSummaries {
    padding: 50pt 0pt 50pt 0pt ;
    background: white;
}
#TitleBlack {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
}
#StoryContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
}
#StoryBlock {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
}
/* Start Customer Title */
#CustomerTitle {
    padding: 0px 0px 0px 0px;
}
.customerPic {
    text-align: center;
    min-height: 600px;
    width: 100%;
    /* padding-bottom: 30px; */
    /* margin-left: auto;
    margin-right: auto; */
}
#CustomerBanner {
    background: #2B265A;
    opacity: 0.9;
    min-height: 150px;
}
#CustomerBannerText{
    padding: 20px 15px 0px 15px;
    font-size: 22px;
    letter-spacing: -0.015em;
    font-style: normal;
    color: white;
}
#CustomerInfo{
    min-height: 750px;
    padding: 50px 50px 30px 50px;
}
#CustomerTitleRectangle {
    height: 9px;
    width: 120px;
    background: #2B265A;
}
#CustomerInfoTitle {
    text-align: left;
    color: #2B265A;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}
/* End Customer Title */

/* Start Customer Story */ 
#CustomerStory {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.015em;
}
#CustomerPlanBtn{
    float: left;
    width: 307px;
    height: 53px;
}
#CustomerGetSolutionBtn {
    float: right;
    background: white;
    color: #2B265A;
    width: 307px;
    height: 53px;
}
#CustomerQuote {
    color: #2B265A;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    display: inline-block;
}
#QuoteImg {
    position: absolute;
    z-index: 0;
    padding-top: 90px;
}
/* End customer story */

/* Start Customer Savings */
#CustomerSavings {
    background: #2B265A;
    min-height: 750px;
}
.savingsWhite {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    letter-spacing: -0.015em;
}
#DescriptionWhite {
    padding-top: 20px;
    font-size: 20px;
}
#CostFigure {
    font-size: 24px;
}
#VersusText {
    font-size: 36px;
}
#TotalSavings {
    margin: 0px 30px 0px 30px;
    border: 2px dashed #FFFFFF;
    box-sizing: border-box;

}
#TotalSavingsWhite {
    font-size: 20px;
}
#TotalSavingsText {
    font-size: 64px;
    color: #81F1C6;
}

#ContentBlack {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
#TextPurple {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #2B265A;
}
#CustomerQuote {
    
}
#BigQuotes {
    color: #2B265A;
    font-size: 40px;
}


#TitleSavings {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    padding-top: 20px;
}
#CostUsageTitle {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
#CostUsageFigure {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
}
#FigureSubtitle {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#TotalSavingsValue{ 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    color: #2B265A;
    letter-spacing: -0.015em;
}
#TotalSavingsTextSmall {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    color: #2B265A;
}

/* Start Call to Action */
#ContactUsContainer {
    background: #2B265A;
}
#ContactUs {
    padding: 50pt 40pt 50pt 40pt ;
}
#ContactUsImg {
    /*Placeholder for now */
}
#ContactUsText {
    color: white;
    font-weight: 600;
    letter-spacing: 0.014em;
    font-size: 36px;

}
#FooterContactBtn {
    width: 350px;
    height: 80px;
    font-size: 30px;
}




/* End Call to Action */