/* General Styling */

span.emph {
    font-weight: bold;
    color: #2b265a;
}

h2 {
    font-weight: bold;
    text-align: center;
}

/* Head Content */
#HeaderContainer {
    width: 100%;
    min-height: 500pt;
    padding: 21pt 0;
    /* max-height: 100%; */
    background-image: linear-gradient(89.6deg, #160C21 53.22%, rgba(44, 18, 43, 0) 83.56%), url('../assets/forest.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center; 
}

#WelcomeText {
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;

}

#Subtitle {
    opacity: 0;
    color: whitesmoke;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    #WelcomeText , #Subtitle{
        text-align: center;
        max-width: 250pt;
        margin: auto;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}

/* Our Story Section */
#our-story {
    padding: 25pt 0pt 25pt 0pt;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#our-story p {
    padding: 10pt 0;
}

.our-story__title {
    margin-bottom: 30pt;
}

.our-story__list {
    list-style-type: none;
    padding-bottom: 20pt;
}

.our-story__list li{
    padding-top: 10pt;
}

.aus-outline {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Sustainability Section */

#sustainability {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.sustainability__title {
    margin-bottom: 30pt;
}

/* Our Approch Section*/
#our-approach {
    /* background-color: #2B265A; */
    padding: 25pt 0pt 25pt 0pt;
    font-family: 'Quicksand', sans-serif;
    max-width: 2000px;
    margin: auto;
}

#our-approach__title {
    margin-bottom: 30pt;
}

.our-approach__card {
    background-color: #2b265a;
    height: 100%;
    padding: 10pt;
    max-width: 250pt;
    border-radius: 15pt;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

.approach-card__icon {
    font-size: 75pt;
}

.approach-description{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    text-align: center;
}

#our-approach_logo {
    width: 400pt;
    max-width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End Our Approch */

/* Meet the Team */
#meet-the-team {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.meet-the-team__title {
    margin-bottom: 30pt;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20pt;
    padding: 20pt 0;
}

.headshot {
    border-radius: 50%;
    border: 5pt solid #2b265a;
}

#meet-the-team__rob.headshot {
    width: 308px;
}

p.name {
    padding-top: 10pt;
    font-weight: bold;
    color: #2b265a;
}

p.quote {
    padding: 20pt 0;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

/* Articles As Featured In */

#featured-in {
    font-family: 'Quicksand', sans-serif;
}

/*Featured In*/
.greyBackground {
    width: 100%;
    background-color: whitesmoke;
}

#FeaturedIn {
    padding: 40pt 40pt 20pt 40pt ;
    /* margin-top: -75pt; */
    background: whitesmoke;
    max-width: none;
}
#FeaturedInTitle {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
    font-weight: 500;
}

.brandLogos {
    max-height: 40pt;
    /* max-width: 100%; */
    display: block;
    margin: 15pt auto 15pt auto;
    filter: grayscale(100%) contrast(20%);
    transition: 0.3s;
    object-fit: cover;
}

.brandLogos:hover {
    filter: grayscale(0%) contrast(100%);
}

/* #FeaturedInContainer {
    background-color: whitesmoke;
} */

/*End Featured In*/

/* Start Call to Action */
#CallToActionContainer {
    max-width: 2000px;
    margin: auto;
}
#CallToAction {
    padding: 50pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: white;
}
#TitleCTA {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;

}
#SubtitleCTA {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding-bottom: 40px;
}
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.OurPlans {
    background-color: white; 
    color: #2B265A; 
    border: 1px solid #2B265A;
    box-sizing: border-box;
    border-radius: 5px;
}
.OurPlans:hover {
    background-color: #2B265A;
    color: white;
}
/* End Call to Action */