/* General Styling */

body {
  --color-text: rgb(0, 0, 0);
  --color-bg: #ffffff;
  --color-link: #fff;
  --color-link-hover: #ffeb3b;
  --color-title: #fff;
  --color-nav: #fff;

  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  margin-left: 100px;
  margin-right: 100px;
}

/* -- Common Button Stylings -- */
.btn-IO {
  background-color: white; 
  color: #b60bb6; 
  border: 1px solid #b60bb6;
  box-sizing: border-box;
  border-radius: 5px;
}
.btn-IO:hover {
  background-color: #b60bb6;
  color: white;
}
.btn-Back {
  background-color: white; 
  color: #2B265A; 
  border: 1px solid #2B265A;
  box-sizing: border-box;
  border-radius: 5px;
}
.btn-Back:hover {
  background-color: #2B265A;
  color: white;
}
.btnPurpleSolid {
  border-color: #5028A9;
  font-size: 12pt;
  background-color: #5028A9;
  color: white;
  /* opacity: 0.8; */
  transition: .5s;
}

.btnPurpleSolid:hover  {
  font-size: 12pt;
  border-color: #1c183f;
  box-shadow: inset 0 1px 1px #5028A9, 0 0 8px #5028A9;
  background-color: #5028A9;
  transition: .5s;
  /* opacity: 0.7; */
  color: white;
}

.btnPurpleSolid:focus  {
  border-color: #5028A9;
  box-shadow: inset 0 0px 0px #453c92, 0 0 0px #4a4296;
  transition: .5s;
}

#HomeLink {
  color: black;
}

/* Modal stylings */
#ioEnergyLogo {
  height: 40pt;
}

#ActiveCampaignModal {
  width: 100%;
  height: 280px;
  border: none;
}

#MailingListButton {
  display: block;
  margin: 20pt auto;
}

#EmailUsButton {
  display: block;
  margin: 20pt auto;
}

#EnergyLocalsButton {
  display: block;
  margin: 20pt auto;
}

#BookACallButton {
  display: block;
  margin: 20pt auto;
}

#MapContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#MapIcon {
  height: 100pt;
  width: 100pt;
  display: block;
  padding: 0;
  margin: 20pt 0;
  text-align: center;
}

#MapModalTitle {
  line-height: 80pt;
  font-size: 40pt;
  padding: 0 15;
}

/* Detailed Rates Modal Styling */
#DetailRatesImage {
  display: block;
  margin: auto;
  width: 100%;
}
#DetailRatesImageBus {
  display: block;
  margin: auto;
  width: 100%;
}


.modal-title {
  font-family: 'Quicksand', sans-serif;
}


/* --- General Input Stylings ---*/

/* From : https://codepen.io/souporserious/pen/avbJJp?editors=1100 */
.radioButtonsSize2 {
  /* background-color: #3395DE; */
display: flex;
/* max-width: 336px; */
width: 100%;
position: relative;
user-select: none;
-webkit-tap-highlight-color: transparent;
position: relative;
z-index: 1;
margin: 0 auto;
font-size: 12px;
border: 1px solid #5028A9;
border-radius: 3px;
  color: #5028A9;
  margin: 10pt 0;
}

.radioButtonsSize2 > input {
display: none;
}

.radioButtonsSize2 > input:checked + label {
  color: #fff;
  font-weight: 900;
  /* text-decoration: underline; */
}

.radioButtonsSize2 > input:nth-of-type(1):checked ~ label:last-of-type:before {
transform: translateX(calc(0% + 0px));
}

.radioButtonsSize2 > input:nth-of-type(2):checked ~ label:last-of-type:before {
transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons2 > input:nth-of-type(2):checked ~ label:last-of-type:before {
transform: translateX(calc(100% + 0px));
}

.radioButtonsSize2 label {
flex: 1;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
  /* width: 150%; */
}

.radioButtonsSize2 label:last-of-type:before {
content: "";
display: block;
max-width: calc(50% - 0px);
margin: 0px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
transform: translateX(0);
}

.radioButtonsSize2 label {
padding: 6px 3px;
transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize2 label:before {
background: #5028A9;
transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize2 label:not(:last-child) {
border-right: 1px solid #5028A9;
}
/* End Radio Button Size:2 */

/* Radio Button Size:3 Styling */
.radioButtonsSize3 {
  /* background-color: #3395DE; */
display: flex;
/* max-width: 336px; */
width: 100%;
position: relative;
user-select: none;
-webkit-tap-highlight-color: transparent;
position: relative;
z-index: 1;
margin: 0 auto;
font-size: 12px;
border: 1px solid #5028A9;
border-radius: 3px;
  color: #5028A9;
  margin: 10pt 0;
}

.radioButtonsSize3 > input {
display: none;
}

.radioButtonsSize3 > input:checked + label {
  color: #fff;
  font-weight: 900;
}

.radioButtonsSize3 > input:nth-of-type(1):checked ~ label:last-of-type:before {
transform: translateX(calc(0% + 0px));
}

.radioButtonsSize3 > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 1px));
}

.radioButtonsSize3 > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 1px));
}

.chromeRadioButtons3 > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons3 > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}


.radioButtonsSize3 label {
flex: 1;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
  /* width: 150%; */
}

.radioButtonsSize3 label:last-of-type:before {
content: "";
display: block;
max-width: calc(33.3333% - 0px);
margin: 0px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
transform: translateX(0);
}

.radioButtonsSize3 label {
padding: 6px 3px;
transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize3 label:before {
background: #5028A9;
transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize3 label:not(:last-child) {
border-right: 1px solid #5028A9;
}

/* End Radio Button Size:3 */

/* Radio Button Size:4 Styling */
.radioButtonsSize4 {
  /* background-color: #3395DE; */
display: flex;
/* max-width: 336px; */
width: 100%;
position: relative;
user-select: none;
-webkit-tap-highlight-color: transparent;
position: relative;
z-index: 1;
margin: 0 auto;
font-size: 12px;
border: 1px solid #5028A9;
border-radius: 3px;
  color: #5028A9;
  margin: 10pt 0;
}

.radioButtonsSize4 > input {
display: none;
}

.radioButtonsSize4 > input:checked + label {
  color: #fff;
  font-weight: 900;
}

.radioButtonsSize4 > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}

.radioButtonsSize4 > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.radioButtonsSize4 > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 1px));
}

.radioButtonsSize4 > input:nth-of-type(4):checked ~ label:last-of-type:before {
  transform: translateX(calc(300% + 2px));
}

.chromeRadioButtons4 > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons4 > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}

.chromeRadioButtons4 > input:nth-of-type(4):checked ~ label:last-of-type:before {
  transform: translateX(calc(300% + 0px));
}

.radioButtonsSize4 label {
flex: 1;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
  /* width: 150%; */
}

.radioButtonsSize4 label:last-of-type:before {
content: "";
display: block;
max-width: calc(25% - 0px);
margin: 0px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
transform: translateX(0);
}

.radioButtonsSize4 label {
padding: 6px 3px;
transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize4 label:before {
background: #5028A9;
transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize4 label:not(:last-child) {
border-right: 1px solid #5028A9;
}

.radioButtonsSize4 label {
flex: 1;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
  /* width: 150%; */
}

/* End Radio Button Size:4 */

.inputBoxContainer {
  padding: 5pt 0;
}

.InputBoxLabel {
  display: block;
  width: 100%;
  font-weight: 600;
}

.inputs {
  width: 100%;
}

/* Get rid of the increment/decrement buttons
in the input fields */
/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* General Slide Styling */

#slideshow {
  display: grid;
}

.navBtns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBtns button {
  width: 100%;
}

.slide {
  display: none;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20% 0%;
}

.slide--active {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

#residential-plans-slide, #business-plans-slide {
  padding: 5% 0%;
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide--active .slide__content,
.slide--active .slide__title {
  opacity: 1;
}

.slidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.slidenav__item {
  border: 0;
  background: none;
  padding: 1rem;
  margin: 0.85rem;
  text-transform: inherit;
  position: relative;
  line-height: 1;
  color: var(--color-nav);
}

.slidenav__item--prev {
  transform: rotate(-90deg) translateY(-50%);
}

.slidenav__item--next {
  transform: rotate(90deg) translateY(-25%);
}

.controlPanelColumnTitle {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 14pt;
}
/* Animations for slides */
@-webkit-keyframes slideleft {
  100% { left: 0; }
}
@keyframes slideleft {
  100% { left: 0; }
}


/* ===== Intro Slide ===== */
#WelcomeText {
  /* text-align: center; */

  color: rgb(0, 0, 0);
  font-weight: 600;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  text-align: center;
}
#Subtitle {
  color: rgb(0, 0, 0);
  text-align: center;
}
#IntroImg {
  height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
.subtitleLink {
  color: #b60bb6 !important;
}
.underlineLink {
  position: relative;
  text-decoration: none;
  display: inline-block;
  
}

a:hover {
  text-decoration: none;
}

.underlineLink:after {
  display: block;
  content: '';
  border-bottom: solid 1px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.underlineLink:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}


/* ===== Postcode Slide ===== */

/* Postcode Autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: #111;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: dodgerblue !important;
  color: #fff;
}

.autocomplete-row {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#postcodeNextBtn {
  background-color: white; 
  color: #b60bb6; 
  border: 1px solid #b60bb6;
  box-sizing: border-box;
  border-radius: 5px;
}
#postcodeNextBtn:hover {
  background-color: #b60bb6;
  color: white;
}


/* Type of Property Slide */

.propertyType {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

/* Compare Choice Slide */

.planOptions {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}


/* Upload Bill Slide */

/* Upload Dropbox */
.files input {
  outline: 2px dashed #5028A9;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     
  outline: 2px dashed #5028A9;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #5028A9;
}
.files{ 
  position:relative
}
.files:after {  
  pointer-events: none;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  /* right: 0; */
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{
  background-color:#5028A9;
  line-height: 30pt;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.files:before {
  position: absolute;
  bottom: 0px;
  /* top: 50px; */
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  width: 100%;
  /* right: 0; */
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #5028A9;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  line-height: 30pt;
}
/* End Upload DropBox */

/* Upload Bill Modal */

#UploadStatusMsgImg {
  height: 75pt;
  width: 75pt;
  display: block;
  margin: 20pt auto;
}

#UploadStatusMsgText {
  text-align: center;
  width: 100%;
  margin-top: 25pt;

}

/* End Upload Bill Modal */

/* End Upload Section */

/* Calculator Slide */

.slide__content .row {
  align-items: center;
  justify-content: center;
}

#NoOfPeopleDefaultLabel {
  position: relative;
  width: 25%;
  padding: 2pt;

  left: 25%;
  top: 10pt;
  
  text-align: center;
  color: white;
  font-size: 8pt;
  font-weight: 600;

  border-radius: 3pt 3pt 0 0;
  border: 3pt solid #5028A9;
  background-color: #5028A9;

}

#people-handle, #solar-handle, #control-handle, #off-peak-handle, #bill-handle {
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -.8em !important;
  text-align: center !important;
  line-height: 1.6em !important;
}

.ui-slider-handle.ui-state-active {
  border-color: #5028A9;
  background-color: #5028A9;
}

/* Residential Plans Slide */

/* Our Plans */

#BusinessPlans {
  width:100%;
  height: 100%;
}

#businessPlansCardsContainer {
  align-items: stretch;
}

.ourPlansSubtitle {
  width: 100%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 60pt 0 20pt 0;
  line-height: 30pt;
}

.planCard {
  width: 320pt;
  max-width: calc(100vw - 70pt);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px 60px 10px;
  border-radius: 0pt;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.planTitle, .planSubtitle, .planProperties {
  color: #111;
}

#SparkSavings, #MillenniumSavings, #LightningSavings, #JupiterSavings,
#SparkAnnualBill, #MillenniumAnnualBill, #LightningAnnualBill, #JupiterAnnualBill {
  color: #111;
}

@media (max-width: 1200px) {
  .planCard {
      margin: 0pt 10pt 10pt 10pt;
      /* background-color: red; */
      border-radius: 3pt;
  }
}

@media (max-width: 992px) {
  .mostPopular {
      margin-top: 30pt;
      /* background-color: red; */
      border-radius: 0pt 0pt 3pt 3pt;
  }
}

@media (min-width: 1200px) {
  #FirstCardInOurPlans {
      border-radius: 5pt 0pt 0pt 5pt;
  }

  #LastCardInOurPlans {
      border-radius: 0pt 5pt 5pt 0pt;
  }
}

/* Adding margin for induvidual cards on sm screens
@media (max-width: 576px) {
  .planCard{
      margin: 20pt;
  }
}
*/

.mostPopular {
  /* border-radius: 2pt; */
  /* border-color: orange; */
  /* border: 2pt solid; */
  border: 2pt solid rgb(250, 74, 176);
  /* margin: 10pt; */
  /* padding: 40 10 60 10; */
  /* height: 100%;  */
}

.mostPopularBanner {
  position: absolute;
  top: -30pt;
  left: -2pt;
  width: calc(100% + 4pt);
  height: 30pt;

  border-radius: 2pt 2pt 0 0;
  border: 2pt solid rgb(250, 74, 176);
  background-color: rgb(250, 74, 176);

  line-height: 25pt;
  color: white;
  text-align: center;
  font-size: 16pt;
  font-weight: 500;
}

#OurPlansContainer {
  margin: auto;
  padding: 20pt;
}



/* Max width for large sceens*/
@media (min-width: 1200px) {
  #OurPlansContainer{
      max-width: 1500px;
  }
} 


.planTitle {
  font-weight: 600;
  width: 100%;
}

.planSubtitle {
  font-size: 10pt;
}

.customerSavings {
  font-size: 17pt;
  font-weight: 800;
  /* font-family: 'Roboto Condensed', sans-serif; */
  margin: 30pt auto 0pt auto;
  height: 40pt;
  
}

.marketOfferSavings {
  margin: 20pt auto;
  margin-bottom: 0pt;
  padding: 20pt;
  height: 40pt;
  line-height: 12pt;
  display: inline-block;
  vertical-align: middle;
}

.buttonFlexContainer {
  height: 100pt;
}

.buttonCenteringContainer {
  height: 100pt;
}

.planButton {
  margin-left: auto;
  margin-right: auto;
  padding: 20;
  background-color: #5028A9;
  color: white !important;
  font-weight: 600;
  font-size: 16pt;
  transition: 0.3s;
  max-width: 200pt;
  font-size: 15pt;

  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.planButton:hover {
  color: white;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.annualBill {
  font-size: 9pt;
  font-weight: 600;
  padding: 5pt
}

.planProperties {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}
.planProperties li {
  margin: 15pt 0;
  line-height: 1em;
  height: 3em;
  /* height: 30pt; */
  padding: 10pt;
  /* margin: -2pt; */
  display: block;
  /* border-top: 2pt solid black; */
  /* border-bottom: 2pt solid black; */
}

.detailedRatesLink {
  position: absolute;
  bottom: 10pt;
  left: 0;
  right: 0;

  color:#007bff;
  font-size: 10pt;
  font-weight: 500;
}

.detailedRatesLink:hover {
  cursor: pointer;
  color:#4D89CA;
}

#DefaultNote {
  font-size: 9px;
  padding-right: 20px;
  padding-left: 20px;
}

/* End Our Plans */

/* Join Waitlist Slide */

/*Email Capture 1*/

#FormIcon {
  display: block;
  padding: 20pt 30pt 0pt 50pt;
  margin: 0;
  text-align: center;
}

/*
.textAddon {
  border: 0pt !important;
  border-bottom: 1pt solid #939393 !important;
  border-radius:0 !important; 
}

.textAddon:hover {
  
}*/

/* End Email Capture*/


