/* ------ NAVBAR ---------*/
.navbar {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    opacity: .97;
    z-index: 100;
    padding: 11pt;
}

.navbar-brand {
    max-width: calc(100vw - 90pt);
}

#NavLogo {
    width: 234pt;
    max-width: calc(100vw - 90pt);
    /* margin: 20pt auto; */
    margin: 5pt;
}

#NavLogo:hover {
    text-decoration: none;
}

.navItem {
    text-align: center;
    margin-right: 20pt;
    margin-left: 20pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: black;
    padding: 10pt;
}
.navItem:hover {
    color: #FD5C8F;
}

@media (min-width: 992px) {
    .NavUnderlineLink {
        position: relative;
        text-decoration: none;
        display: inline-block;
    }
    
    .NavUnderlineLink:after {
        display: block;
        content: '';
        border-bottom: solid 1px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    
    .NavUnderlineLink:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
}
/* End Navbar */

/* ------ FOOTER ---------*/
#Footer {
    background-color: whitesmoke;
    padding: 0pt 40pt 40pt;
    font-size: 10pt;
    font-family: 'Quicksand', sans-serif;
}
#FooterLogo {
    width: 30pt; 
    padding: 0pt;
}
.footerColumn {
    padding: 10pt; padding-right: 30pt;
}
.footerLink {
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.footerLink:hover {
    color: black;
}
#BusinessStatement {
    text-align: center;
}
#Tribute {
    text-align: right;
    font-size: 8pt;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding: 5pt;
}
.underlineLink {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

#FAQLink {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.underlineLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.underlineLink:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.waitlistEmail {
    font-size: 10pt;
    background-color: #2B265A;
    border-color: #1c183f;
    opacity: 0.8;
    color: white;

}

.waitlistEmail:focus {
    font-size: 10pt;
    border-color: #1c183f;
    box-shadow: inset 0 1px 1px #453c92, 0 0 8px #4a4296;
    background-color: #2B265A;
    /* opacity: 0.7; */
    color: white;
}

.waitlistEmail::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.waitlistEmail:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
/* End Footer */

/*Welcome section*/
#HeaderContainer {
    width: 100%;
    min-height: 500pt;
    padding: 21pt 0;
    /* max-height: 100%; */
    background-image: linear-gradient(89.6deg, #160C21 53.22%, rgba(44, 18, 43, 0) 83.56%), url('assets/solarPanels.png');
    background-size: cover;
    justify-content: center;
    align-items: center; 
}

#WelcomeText {
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;

}

#Subtitle {
    opacity: 0;
    color: whitesmoke;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    #WelcomeText , #Subtitle{
        text-align: center;
        max-width: 250pt;
        margin: auto;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateY(100%);
    }
    to   { 
        opacity: 1; }
}
/*End Welcome section*/

/*Start Smart Meter*/
#SmartMeter {
    padding: 50pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: white;
}

#SmartMeterTitle {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 700;
}
#SmartMeterText {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


/* End Smart Meter */

/* Start Time of Use */
#TimeOfUse {
    padding: 5pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: #2B265A;
}

#TimeOfUseText {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
#TimeOfUseGraphicInfo {
    padding-left: 50px;
    padding-top: 10px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
}
#hrefTimeOfUse {
    text-decoration: underline;     
}
/* End Time of Use */

/* Start Plan Cards*/
#PlanContainer {
    padding-bottom: 50px;
    text-align: center;
}
#PlanCard {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
@media (max-width: 1068px) {
    #PlanCard {
        max-width: 350px;
        margin: auto;
    }
}
#PlanCardTitle {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 19pt;
    font-weight: bold;
}
#PlanCardTitleLightning {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
#PlanCardSubtitle {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #A3A3A3;
}
#PlanCardBody {
    padding-left: 50px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}
#PlanCardBodyHidden {
    padding-left: 50px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    opacity: 0.0;
}
#CheckIcon {
    color: #2B265A;
    text-align: center;
    font-size: 16px;
}
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    color: white;
    padding: 16px 70px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.FindOutMore {
    background-color: white; 
    color: #2B265A; 
    border: 1px solid #2B265A;
    box-sizing: border-box;
    border-radius: 5px;
}
.FindOutMore:hover {
    background-color: #2B265A;
    color: white;
}
/* End Plan Cards*/

/* Start Save Money */
#SaveMoney {
    padding: 5pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: white;
}
#SaveMoneyTitle {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 700;
}
#SaveMoneySubtitle {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    font-weight: 500
}
#SaveMoneyText {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.savemoneyImg {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
#CustomerQuote {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
}
#CustomerName {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.014em;
}
/* End Save Money */

/* Start BatAndSol */
#BatAndSol {
    padding: 5pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: #2B265A;
}
#GovRebatesTitle {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    color: white;
}
@media (max-width: 985px) {
    #GovRebatesTitle, #EnergySavingTitle {
        padding-top: 20px;
    }
}
/* End BatAndSol */

/* Start Energy Saving */
#EnergySaving {
    padding: 5pt 40pt 50pt 40pt ;
    /* margin-top: -75pt; */
    background: white;
}
#EnergySavingTitle {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 700;
}
#EnergySavingSubtitle {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    font-weight: 700;
}

/* Radio Button Size:5 Styling */
.radioButtonsSize5 {
    /* background-color: #3395DE; */
	display: flex;
	/* max-width: 336px; */
	width: 100%;
	position: relative;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
    color: #000000;
    margin: 10pt 0;
}

.radioButtonsSize5 > input {
	display: none;
}

.radioButtonsSize5 > input:checked + label {
    color: #fff;
    font-weight: 900;
}

.radioButtonsSize5 > input:nth-of-type(1):checked ~ label:last-of-type:before {
    transform: translateX(calc(0% + 0px));
}

.radioButtonsSize5 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% - 1px));
}

.radioButtonsSize5 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 0px));
}

.radioButtonsSize5 > input:nth-of-type(4):checked ~ label:last-of-type:before {
    transform: translateX(calc(300% + 1px));
}

.radioButtonsSize5 > input:nth-of-type(5):checked ~ label:last-of-type:before {
    transform: translateX(calc(400% + 1px));
}

.chromeRadioButtons5 > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
}

.chromeRadioButtons5 > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 0px));
}

.chromeRadioButtons5 > input:nth-of-type(4):checked ~ label:last-of-type:before {
    transform: translateX(calc(300% + 0px));
}

.chromeRadioButtons5 > input:nth-of-type(5):checked ~ label:last-of-type:before {
    transform: translateX(calc(400% + 0px));
}

.radioButtonsSize5 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    /* width: 150%; */
}

.radioButtonsSize5 label:last-of-type:before {
	content: "";
	display: block;
	max-width: calc(20% - 0px);
	margin: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: translateX(0);
}

.radioButtonsSize5 label {
	padding: 6px 3px;
	transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize5 label:before {
    background: #7480FF;
    border-radius: 6px;
	transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.radioButtonsSize5 label:not(:last-child) {
	/* border-right: 1px solid #5028A9; */
}

/* .radioButtonsSize5 label {
	flex: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 150%;
*/
.radioButtonsSize5.childDisabled {
    opacity: .35;
}

.radioButtonsSize5 > input.radioDisabled + label {
    cursor: default; 
}
/*End radiobutton styling*/

#OutputRectangle {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#OutputText {
    padding: 20px 20px 20px 20px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
/* End Energy Saving */